



.p-0{
    padding: 0px;
}
.clientPagination{
    margin-top: 60px;

    padding: 5px;

    border-radius: 5px;
}
.clientLink:hover{
    color: #c662f5;

}
.hr{
    padding: 0px;
    margin: 0px;


}
.clientInfo{
    background-color: #f5f5f5;
    margin-top: 60px;
    border-radius: 5px;
    margin-left: 20px;
}
.address{
    
}
.pacient-form{
    background-color: #ebebeb;

    border-top: none;
    border-radius: 3px;
}
.navbar.li{
    font-size: 150% !important;
}

#msg_pop{
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    z-index: 99999;
    bottom: 30px;
    right:30px;
    width: 250px;
    padding: 10px;
    color:#fff;
    font-size:13px;
    line-height:13px;
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    box-shadow: 0px 0px 10px #999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#msg_pop h4{
    margin:0;
    text-align:center;
    font-size:15px;
}

#msg_close{
    display:block;
    position:absolute;
    top:5px;
    right:10px;
    line-height:15px;
    width:16px;
    height:16px;
    text-align:center;
    color:#fc4e4e;
    cursor:pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#msg_close:hover {
    background-color:#fff;
    color:#fc4e4e;
}
.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {transform: scale(0.7);opacity: 0.5;}
    80% {transform: scale(1.1);}
    100% {transform: scale(1);opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {-webkit-transform: scale(0.7);opacity: 0.5;}
    80% {-webkit-transform: scale(1.1);}
    100% {-webkit-transform: scale(1);opacity: 1;}
}

#text_area
{
    width: 170px;
    height: 30px;
    overflow: hidden;
    padding: 5px;
    border: 1px solid #000000;
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
#text_area_div
{
    width: 170px;
    font-family: Arial;

    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.test{
    color: #ff5757;
}
.danger{
    color: red;
}
.copacity_50{
    opacity: 0.5;
}
.loading{
	background-image: url('/web/images/loading.gif');
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: -40px -134px;
	outline: none;
	border: 1px;
	padding: 4px 8px 4px 8px;
}

.my-navbar {
    font-size: 150%;
}

.my-navbar-test {
    background-color: rgb(86, 125, 245);
    font-size: 150%;
}

.my-navbar-test li a{
    color: #1a1a1a !important;
}


.version {
    position: absolute;
    font-weight: bold;
}


.my-content {
    background-color: #e6ffff;
}

.my-content-test {
    background-color: #a8c7ff;
}


/* Вызывающая кнопка */
.my-btn-dropdown {
    background-color: #337ab7;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;
}

/* Контейнер <div> - нужен для позиционирования выпадающего контента */
.my-dropdown {
    position: absolute;
    display: inline-block;
}

/* Выпадающий контент (по умолчанию скрыт) */
.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}

/* Ссылки внутри выпадающего блока */
.my-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменяем цвет ссылки при наведении */
.my-dropdown-content a:hover {background-color: #ddd}

/* Показываем выпадающий блок при наведении */
.my-dropdown:hover .my-dropdown-content {
    display: block;
}

/* Изменяем фоновый цвет вызывающей кнопки при выводе выпадающего блока */
.my-btn:hover, .my-dropdown:hover .btn  {
    background-color: #0b7dda;
}

.docButton .docDropdown {
    background-color: #a5d7fa;
    width: 1500%;
    border-radius: 5px;
    /*padding: 10px;*/
}

.docButton .docDropdown .hintValue {
    text-align: right;
}

.docButton .docDropdown .hintRow {
    padding-top: 10px;
    border-bottom: solid;
    border-width: 1px;
}
